@import url('https://fonts.googleapis.com/css2?family=Montserrat:100,200,300,400,500,600,700,800,|Raleway:100,200,300,400,500,600,700,800');

* {
    margin: 0;
    padding:0;
    border: 0;
}

body {
    font-family: "Raleway", sans-serif;
    text-align: justify;
}
.space{
    padding: 70px 0;
}

h2 {
    font-size: 1.5rem;
}


/*-----Colors-----*/

.bg-nav-color {
    background: #fafafa;
}

.section-heading {
    color: #113822;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
	margin: 20px 0px;
	padding: 5px 2px;
	text-align: center;
    
	
    
}

.block-divider {
    background-color: #2b6247;
    width: 70%;
    height: 5px;
    border: 0;
    margin:auto auto;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);

}

.block-divider--white {
   background-color: #f6fbf8;
    width: 70%;
    height: 5px;
    border: 0;
    margin:auto auto;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2); 
}
/*--------Navbar-----*/

.navbar-brand {
    height: 60px;
}

.navbar {
    font-size: 1.3rem;
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
    z-index: 1;
}

#navbarLogo {
    color: #113822;
    font-family: "Montserrat",sans-serif;
    font-size: 1.4rem;
    font-weight:800;
    padding-top:10px;
    padding-bottom: 10px;
    letter-spacing: .1rem;
    line-height: 1.5;
}

.nav-item {
    padding: .5rem;
}

#navbarNav.collapse.navbar-collapse{
    color: #7e9b86;
}

.navbar-light .navbar-nav .nav-link{
    color: #7e9b86;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: #113822;

}
.navbar-toggler{
    padding: 0;
    border: 0;
    font-size: 1rem;
}

.navbar-toggler.navbar-toggler-icon {
    background-color: #113822;
    border:0;

}

/*-----Jumbotron & Image --*/

.callout-container {
    height: 100vh;
    width: 100%;
    background: url('../images/car-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

    display: flex;
    align-items: center;
    justify-content: left;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #f6fbf8;
    font-family: "Raleway", sans-serif;
    font-size: 2.25rem;
    margin-bottom: .1rem;
}

.jumbotron-header em {
    color: goldenrod;
}

.jumbotron .lead {
    color: #f6fbf8;
    font-family: "Raleway",sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 3rem;
}

.btn-lg {
    padding: .6rem 2rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn-warning {
    color: #2b6247;
    font-weight: 700;
    font-size: 1.25rem;
    background-color: goldenrod;
}

.btn.btn-lg:hover:{
    color: #fbd608;
}

/*----About----*/

.about-container {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
    padding: 30px;
    background: #2b6247;
}

.about-image {
    object-fit: contain;
    align-content: center;
    display: flex;
    width: 100%;
    height: 40vw;
    padding: 5px;

}

.about-heading{
    color: #f6fbf8;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    object-fit: contain;
    margin-top: 20px;
}

.about-text {
    color: #f6fbf8;
    font-family: "Raleway",sans-serif;
    font-size:1.1rem;
    font-weight: 600;
    align-content: center;
    text-align: center;
    padding: 0 30px;
    line-height: 2.5;
    display: flex;

}
.space-container {
    object-fit: contain;
    width: 80%;
    height:45vw;
    display: flex;
    position: relative;
}

/*Team Section*/
.team-container {
   align-content: center;
   box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
   padding: 30px;
   position: relative;
    
}

.team-heading {
    color: #2b6247;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
	margin: 10px 0;
	padding: 5px 2px;
	text-align: center;
}

.card {
    display:flex;
    flex: 1 1 auto;
    margin: 15px 0px;
    border: none;
    background: transparent;
    
}
 
.team-image {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.card-title {
    font-family: "Montserrat",sans-serif;
    color: #2b6247;
    font-weight: 700;
    text-align: center;
	margin-bottom: 1rem;
	font-size: 1.4rem;
    text-decoration-line: underline;
  
}
.card-text {
    font-family: "Raleway",sans-serif;
    color: #2b6247;
    font-size: 1.1rem;
    font-weight: 500;
    align-content: center;
    text-align: center;
    line-height: 2.5;
}

#teamImage {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;align
    
}

/*---Service Section*/

.service-container {
  height: 100vh;


}

.service-heading{

}

.service-item {
    font-family: "Raleway",sans-serif;
    
    font-size: 1.5rem;
    font-weight: 700;
    color: #113822;
    text-align: justify;
    margin-right: 10px;


}

.service-item i {
    padding: 2rem;
    font-size: 2.5rem;

}
/*------Footer----*/

footer {
    background-color: #9db2a0;
    color: #113822;
    min-height:50px;
    bottom: 0;
    box-shadow: 0 -.5rem .5em rgba(0, 0, 0, .2);
    z-index: 1;
    position: fixed;
    

}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: #113822;
    padding-top: 10px;
}

.general-sub i {
    font-size: 1.25em;
    font-weight:800;
    color: #113822;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.copyright-text {
    color: #113822;
    font-size: 1em;
    font-weight: 700;
    
}

.list-inline {

    padding-top:10px;
    display: inline-flex;
}

.contact-links li a i {
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #fafafa;
    background-color: #113822;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-links li a i:hover {
    background: #7e9b86;
}

#footer-details {
    padding:10px;
    
}