@import url('https://fonts.googleapis.com/css2?family=Montserrat:100,200,300,400,500,600,700,800,|Raleway:100,200,300,400,500,600,700,800');

* {
    margin: 0;
    padding:0;
    border: 0;
}
:root{
    --light:#e8f2e6;
}

body {
    font-family: "Raleway", sans-serif;
    text-align: justify;
}
.row {
    margin: 0;
}
.space{
    padding: 50px 0;
}



/*-----Colors-----*/

.bg-nav-color {
    background: #e8f2e6;
}


.block-divider {
    background-color: #2b6247;
    width: 70%;
    height: 5px;
    border: 0;
    margin:auto auto;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);

}

.block-divider--grey {
   background-color: #113822;
    width: 70%;
    height: 5px;
    border: 0;
    margin:auto auto;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2); 
}

/*--------Navbar-----*/

.navbar-brand {
    height: 60px;
}

.navbar {
    font-size: 1.3rem;
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
    z-index: 1;
}

#navbarLogo {
    color: #113822;
    font-family: "Montserrat",sans-serif;
    font-size: 1.4rem;
    font-weight:800;
    padding-top:10px;
    padding-bottom: 10px;
    letter-spacing: .1rem;
    line-height: 1.5;
}

.nav-item {
    padding: .5rem;
}

#navbarNav.collapse.navbar-collapse{
    color: #7e9b86;
}

.navbar-light .navbar-nav .nav-link{
    color: #7e9b86;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: #113822;

}
.navbar-toggler{
    padding: 0;
    border: 0;
    font-size: 1rem;
}

.navbar-toggler.navbar-toggler-icon {
    background-color: #113822;
    border:0;

}

/*-----Jumbotron & Image --*/

.callout-container {
    height: 100vh;
    width: 100%;
    background: url('../images/car-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

    display: flex;
    align-items: center;
    justify-content: left;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #f6fbf8;
    font-family: "Raleway", sans-serif;
    font-size: 2.25rem;
    margin-bottom: .1rem;
}

.jumbotron-header em {
    color: goldenrod;
}

.jumbotron .lead {
    color: #f6fbf8;
    font-family: "Raleway",sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 3rem;
}

.btn-lg {
    padding: .6rem 2rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn-warning {
    color: #2b6247;
    font-weight: 700;
    font-size: 1.25rem;
    background-color: goldenrod;
}

.btn.btn-lg:hover:{
    color: #fbd608;
}
 
/****About******/
.about-us-box {
    margin-top: 50px;
}
 
.about-us-box-text {
    padding: 50px;
    text-align: center;
}
 
.about-us-box-text h2 {
    font-family: "Montserrat",sans-serif;
     color: #113822;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 30px;
}

.about-us-box-text p {
    color: #2b6247;
    font-family: "Raleway",sans-serif;
    font-size:1.1rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-right: 20px;
    text-align: center;

}
  
.about-us-box-img img {
    border-radius: 8px;
}
.about-container {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
    background: #e8f2e6;
}

.about-image {
    object-fit: contain;
    align-content: center;
    display: flex;
    width: 80%;
    height: 40vw;
    padding: 5px;

}
.space-container {
    object-fit: contain;
    width: 80%;
    height:45vw;
    display: flex;
    position: relative;
}

/*Team Section*/
.team-container {
   align-content: center;
   box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
   padding: 30px;
   position: relative;

    
}

.team-heading {
    font-family: "Montserrat",sans-serif;
    color: #113822;
    font-weight: 800;
    text-align: center;
    padding-top: 40px;
}

.team-heading i {
    font-size: 3.5rem;
    padding-left: 10px;
}

.card {
    display:flex;
    flex: 1 1 auto;
    padding: 10px;
    border:none;
    border-radius: 10px;
    
    
}
 
.team-image {
    object-fit: cover;
    height: auto;
    width: 60%;
    border-radius: 50%;
}

.card-title {
    font-family: "Montserrat",sans-serif;
     color: #113822;
    font-weight: 800;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  
}
.card-text {
    font-family: "Raleway",sans-serif;
    color: #2b6247;
    font-size: 1.1rem;
    font-weight: 600;
    align-content: center;
    text-align:center;
    margin-top: 30px;
    margin-bottom: 20px;

}

#teamImage {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}

/*---Service Section*/

.service-container {
  background: #e8f2e6;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
  padding: 40px;
  position: relative;
  text-align: center;
  color: #2b6247;
}

.service-item {
    clear: both;
    padding: 10px;
    font-family: "Raleway",sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #f6fbf8;
    text-align: center;
    
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:rgba(39, 70, 38, 0.9);
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 10px;
  white-space: nowrap;

}

.service-heading{
    color: #113822;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
	margin: 30px 0px;
	padding: 5px 5px;
	text-align: center;  
}

.service-heading i {
    font-size: 3rem;
    padding-left: 10px;
}
/******Testimonials***/
.testimonial-container {
    width: 100%;
    height: 15vw;
  background: #e8f2e6;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
  padding: 40px;
  position: relative;
  text-align: center;
  color: #2b6247;
  display: flex;

}
.carousel-inner{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    margin: auto;
}

/******Contact*****/


.contact-container{
    height: 100vh;
    width: 100%;
    background: url(../images/contact.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    
}
.contact-heading{
    font-family: "Montserrat",sans-serif;
    color: #e8f2e6;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
    margin:10px;
}

/*------Footer----*/

footer {
    background-color: #e8f2e6;
    color: #113822;
    min-height:50px;
    bottom: 0;
    box-shadow: 0 -.5rem .5em rgba(0, 0, 0, .2);
    z-index: 1;
    position: fixed;
    

}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: #113822;
    padding-top: 10px;
}

.general-sub i {
    font-size: 1.25em;
    font-weight:800;
    color: #113822;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.copyright-text {
    color: #113822;
    font-size: 1em;
    font-weight: 700;
    
}

.list-inline {

    padding-top:10px;
    display: inline-flex;
}

.contact-links li a i {
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #fafafa;
    background-color: #113822;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-links li a i:hover {
    background: #7e9b86;
}

#footer-details {
    padding:10px;
    
}